<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
</head>
<body>
<container >
    <table style="border: black">
        <tr style="margin: auto">
            <th style="margin: auto">id</th>
            <th style="margin: auto">name</th>
            <th style="margin: auto">date</th>
            <th style="margin: auto">parentId</th>
        </tr>
        <tr style="margin: auto" th:each="item : ${response}">
            <td style="margin: auto" th:text="${item.id}"></td>
            <td style="margin: auto" th:text="${item.name}"></td>
            <td style="margin: auto" th:text="${item.date}"></td>
            <td style="margin: auto" th:text="${item.parentId}"></td>
        </tr>
    </table>
</container>
</body>
</html>
